/* Document
    ================================================================ */
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

/* Header
    ================================================================ */
header {
    width: 100%;
    height: 10%;
    background-color: #a7cd00;
}

header div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header p {
    margin: 0;
    padding: .5em;
    text-align: center;
    color: #fff;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.2em;
}

/* Item view
    ================================================================ */
.item_header,
#item_list > .item {
    display: flex;
    text-align: center;
}

.item_header p,
#item_list > .item p {
    margin: 0;
    padding: .5em 0;
}

#item_list > .item > div:nth-of-type(3) p {
    padding: .5em;
    word-break: break-all;
}

.item_header > div,
#item_list > .item > div {
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.item_header > div:nth-of-type(1) {
    width: 5%;
    min-width: 3em;
}

.item_header > div:nth-of-type(2) {
    width: 15%;
}

.item_header > div:nth-of-type(3) {
    width: 60%;
}

.item_header > div:nth-of-type(4) {
    width: 20%;
    border-right: none;
}

#item_list {
    overflow-y: scroll;
    height: calc(100% - 42px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#item_list::-webkit-scrollbar {
    display: none;
}

#item_list > .item:nth-of-type(even):not(.sold) {
    background-color: rgba(167, 205, 0, 0.1);
}

#item_list > .sold {
    background-color: #e7e7e7;
}

#item_list > .sold:nth-of-type(even) {
    background-color: #c7c7c7;
}

#item_list > .item > div:nth-of-type(1) {
    width: 5%;
    min-width: 3em;
}

#item_list > .item > div:nth-of-type(2) {
    width: 15%;
}

#item_list > .item > div:nth-of-type(3) {
    width: 60%;
    text-align: left;
}

#item_list > .item > div:nth-of-type(4) {
    width: 20%;
    border-right: none;
}

#item_list > .item > .number_err {
    background-image: linear-gradient(135deg, #f00 10px, transparent 0);
}

.none {
    font-size: large;
    text-align: center;
    font-weight: bolder;
}

/* Footer
    ================================================================ */
footer > div {
    background-color: #e6e0cb;
}

footer > div > #ctrl_1 {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

footer > div > #ctrl_1 > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 3em;
    cursor: pointer;
    text-align: center;
    background-color: #a7cd00;
    border-radius: .5em;
    padding: 0;
    border: 1px solid #000;
}

footer > div > #ctrl_1 > button:nth-of-type(1) {
    margin-right: 2em;
}

footer > div > #ctrl_1 > button > p,
footer > div > #ctrl_2 > button > p {
    margin: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: bold;
}

footer > div > #ctrl_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer > div > #ctrl_2 > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 3em;
    cursor: pointer;
    text-align: center;
    background-color: #a7cd00;
    border-radius: .5em;
    padding: 0;
    border: 1px solid #000;
}

footer > div > #ctrl_2 > div:nth-of-type(1) {
    text-align: right;
    display: inline-block;
    margin-right: 2em;
}

footer > div > #ctrl_2 > div:nth-of-type(1) > div {
    display: flex;
    justify-content: space-between;
}

footer > div > #ctrl_2 p {
    margin: 0;
}

footer > div > #faq {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

footer > div > #set {
    position: absolute;
    bottom: 55px;
    right: 10px;
}

footer > div > #faq > button,
footer > div > #set > button {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
}

footer > div > #faq > button > div,
footer > div > #set > button > div {
    position: relative;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 20px;
    background-color: skyblue;
    border-radius: 35px;
    text-align: center;
    line-height: 35px;
}
footer > div > #set > button > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div > #set > button > div > img {
    width: 23px;
    height: 23px;
    vertical-align: bottom;
}

/* Popup
    ================================================================ */
.popup_frame {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.popup_main {
    border-radius: .5em;
    background-color: #fff;
}

.popup_main > h3 {
    margin: 1em 0 0 0;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

#setting > div > h4 {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 0;
}
#help > div > div > p,
#version > div > div > p,
#version > div > div > div > h4,
#version > div > div > div > p {
    margin: 0;
}

#setting > div > h4::before,
#setting > div > h4::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: black;
}
#setting > div > h4::before {
    left: 0;
}
#setting > div > h4::after {
    right: 0;
}

.err, .warn {
    margin: 0;
    color: #f00;
    text-align: center;
}
.input_err {
    border-color: red;
    outline-color: red;
    background-color: rgba(255, 0, 0, .2);
}

.popup_main > div {
    margin: 1em 2em;
    display: flex;
    align-items: center;
}
#edit > div > div:has(span),
#register > div > div:has(span) {
    margin: .5em;
    position: relative;
    padding: 0 1.5em 1.5em;
}
#edit > div > div > span,
#register > div > div > span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: small;
    color: red;
}
#version > div > div:not(:last-child) {
    display: block;
}
#version > div > div > div {
    display: flex;
    justify-content: space-between;
}

.obj_between {
    justify-content: space-between;
}

.obj_center {
    justify-content: center;
}

#edit > div > div > input,
#settle > div > div > input,
#register > div > div > input {
    margin-left: .5em;
    width: 12em;
    height: 2em;
    border: 1px solid #000;
    border-radius: .5em;
}
#edit > div > div:nth-of-type(3) > input,
#register > div > div:nth-of-type(3) > input {
    width: 10.5em;
}
#settle > div > div:nth-of-type(10) > input {
    width: auto;
}

/* Button
    ================================================================ */
.obj_center > button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 3em;
    text-align: center;
    border-radius: .5em;
    padding: 0;
    border: 1px solid #000;
}
#help > div > div > a > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 2em;
    text-align: center;
    border-radius: .5em;
    padding: 0;
    border: 1px solid #000;
    background-color: #a7cd00;
}
#help > div > div > a {
    margin: 0;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.green {
    background-color: #a7cd00;
}

.red {
    background-color: #e70000;
}

.multi {
    margin-right: 2em;
}

.btn_str {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.white {
    color: #fff;
    font-size: 1.4em;
}

.hide {
    display: none;
}

/* Check box
    ================================================================ */
.chkbox {
    width: auto;
    cursor: pointer;
    padding: 5px 0px 5px 30px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}
.chkbox::before {
    top: 50%;
    left: 5px;
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    margin-top: -8px;
    position: absolute;
    background: #fff;
    border: 1px solid #231815;
}
.chkbox::after {
    top: 50%;
    left: 10px;
    opacity: 0;
    width: 5px;
    height: 9px;
    content: '';
    display: block;
    margin-top: -7px;
    position: absolute;
    transform: rotate(45deg);
    border-right: 3px solid #ed7a9c;
    border-bottom: 3px solid #ed7a9c;
}
input[type="checkbox"]:checked + label::after {
    opacity: 1;
}

/* Loading view
    ================================================================ */
#loading {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
}

#loading > div {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading > div > div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 65px;
    border: 5px solid #ffffff80;
    border-radius: 50%;
}

#loading  > div > div:nth-child(2) {
    clip-path: polygon(50% 50%, 0 0, 80.00% 0);
    animation: loading_spin 1s infinite;
    animation-timing-function: cubic-bezier(0.52, 0.26, 0.44, 0.81);
    border: 5px solid #ffffff;
}

@keyframes loading_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}